@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ed1f24;
  --primary-dark: #c11b27;
  --secondary: #2c5282;
}

html {
  scroll-behavior: smooth;
}

.gradient-hero {
  background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
}
